<nav class = "header-nav">
    <div class = "site-title">
        <a href = "/"><h1>Course Champion</h1></a>
        <p>SDEV255 Group 2 | Final Project</p>
        <% if (user) { %>
        <p>Welcome, <%= user.email %></p>
        <% } %>    
    </div>
    <div class = "authLinks">
    <ul>
        <% if (user) { %>
        <li><a href="/auths/logout" class="logout">Log out</a></li>
        <% } else { %>
        <li><a href="/auths/login" class="login">Log in</a></li>
        <li><a href="/auths/signup" class="signup">Sign up</a></li>
        <% } %>
      
    <li></li>
    </ul>
    </div>
    <ul>
        <% if (user){ %>
        <li><a href= "/" class="course_word">Courses</a></li>
        <%}if (!user){%>
        <li><a href="/about">About</a></li>
        <%}if (user && user.role === "teacher") { %>
        <li><a href="/courses/create" class="new_course_word">New Course</a></li>
        <%}if(user){ %>
        <li><a href = "/courses/myCourses" class="my_course_word">My Courses</a></li>
        <%}if (user && user.role === "student") {%>
        <li><a href = "/courses/shoppingCart" class="shopping_cart_word">Shopping Cart</a></li>
        <% } %>
    </ul>
    <% if(user) {%>
    <div class="search" >
        <a id = "searchBtn" href="#" class="search_bar_word">Search</a><input id = "searchInput" class="search_bar" type = "text">
    </div>
    <% } %>
</nav>
      <% if(user){%>
<script>
    const searchButton = document.getElementById("searchBtn");
    const searchInput = document.getElementById("searchInput");
    searchInput.addEventListener('change', (e)=>{
        if (searchInput.value.trim() != ""){
            searchButton.href = '/courses/search/' + searchInput.value;
        } else{
          searchButton.href = "#"
        }
    })

</script>
<% } %>