<nav class = "header-nav">
    <div class = "site-title">
        <a href = "/"><h1>Course Champion</h1></a>
        <p>SDEV255 Group 2 | Final Project</p>    
    </div>
    <ul>
        <li><a href= "/">Courses</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/add-course">New Course</a></li>
    </ul>
</nav>