@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
:root {
  --ivy-green: #006648;
  --ivy-lightGrey: #F5F5F5;
  --ivy-darkGrey: #D8D8D8;
}
        body{
          max-width: 1200px;
          margin: 0px auto;
          padding: 0 20px;
          font-family: 'Noto Serif', serif;
          max-width: 1200px;
          background-color: #FFF;
        }
        p, h1, h2, h3, a, ul{
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: #222;
        }
        /* nav & footer styles */
        .header-nav{
          width: 100%;
          left: 0;
          position: fixed;
          top: 0;
          display: flex;
          justify-content: space-between;
          margin-bottom: 60px;
          padding-bottom: 10px;
          border-bottom: 1px solid #000;
          text-transform: uppercase;
          background-color: var(--ivy-green);
        }
        .site-title{
          margin-left:15px;
        }
        nav ul{
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-right: 15px;
        }
        nav li{
          list-style-type: none;
          margin-left: 20px;
        }
        nav h1{
          color: white;
          font-size: 3em;
        }
        nav p, nav a{
          color: white;
          font-weight: 300;
        }
        footer{
          color: black;
          text-align: center;
          margin: 10px auto 20px 20px;
          padding-bottom: 2px;
          background-color: var(--ivy-darkGrey);
        }
        h2{
          margin-bottom: 40px;
          color: var(--ivy-green);
        }
        h3{
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        .content{
          margin-top: 175px;
          margin-left: 20px;
          padding: 10px 10px 10px 10px;
          background: var(--ivy-lightGrey);
        }
        /* index styles */
        /* details styles */
        /* create styles */
        .create-blog form{
          max-width: 400px;
          margin: 0 auto;
        }
        .create-course input,
        .create-blog textarea{
          display: block;
          width: 100%;
          margin: 10px 0;
          padding: 8px;
        }
        .create-course label{
          display: block;
          margin-top: 24px;
        }
        textarea{
          height: 120px;
        }
        .create-course button{
          margin-top: 20px;
          background: var(--ivy-green);
          color: white;
          padding: 6px;
          border: 0;
          font-size: 1.2em;
          cursor: pointer;
        }